/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  margin-left: 25%;
  padding: 10px;
  background-color:blanchedalmond;
  font-family: "Poppins";
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background: rgb(51, 110, 144);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

header .hideHeader{
  background:blanchedalmond;
  padding-bottom: 1000px;
}

header .container {
  max-width: 1400px;
  margin: auto auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.btnNavBar {
  font-size: 2rem;
  width: 250px;
  height: 150px;
  line-height: 1%;
  border: none;
  outline: none;
  padding: 10px 25px 30px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-family: "Poppins";
  background-color: white;
  color: rgb(51, 110, 144);
}

.btnSetting{
  font-size: 1.6rem;
  border: none;
  outline: none;
  margin: 0px 25px;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: "Poppins";
  background-color: white;
  color: rgb(51, 110, 144);
}
.btnPay{
  font-size: 1.6rem;
  border: none;
  outline: none;
  margin: 0px 20px;
  padding: 20px 100px;
  border-radius: 20px;
  font-family: "Poppins";
  background-color: rgb(51, 110, 144);
  color: white;
}

.containerLogo{
  background: #fff;
  border-radius: 300px;
  margin: 20px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.logoHome{
  font-size: 15rem;
  color: rgb(51, 110, 144);
  text-align: center;
}

.logoText{
  font-size: 2.5rem;
  color: rgb(51, 110, 144);
  text-align: center;
}

.userDetails{
  font-size: 2rem;
  margin: 10% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  color: #555;
}

.btnPassword{
  font-size: 1.5rem;
  padding: 10px 20px;
  border: none;
  outline: none;
  margin: 25px 25px;
  padding: 20;
  border-radius: 10px;
  font-family: "Poppins";
  background-color: rgb(51, 110, 144);
  color: white;
}

/* homepage */
.home {
  display: grid;
  gap: 100px;
}
.tenant-details {
  background: #fff;
  border-radius: 20px;
  margin: 20px 25px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.tenant-details .fixed {
  background: #fff;
  border-radius: 20px;
  margin: 20px 25px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.tenant-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.tenant-details p {
  margin-left: 5%;
  font-size: 1.9em;
  line-height: 20px;
  color: #555;
}
.tenant-details .textsmall {
  margin-left: 5%;
  font-size: 1.2em;
  line-height: 20px;
  color: #555;
}
.tenant-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
form.login {
  display: flex;
  align-items: left;
  flex-direction: column;
  max-width: 400px;
  margin: 80px 70px;
  padding: 20px 60px;
  background: #fff;
  border-radius: 20px;
  font-family: "Poppins";
  color: #555;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}